/* CSS Document */
@import 'venders/_bootstrap.scss';
//variables
$bgcolor:#222222;
$greycolor:#DDDDDD;
$center:center;

* {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0; }

#footer {
  width: 100%;
  background-color: $bgcolor;
  height: 75px;
  bottom: 0px;
  left: 0px;
  color: $greycolor;
  text-align: $center; }

#footer p {
  margin-left: 8%; }

#logo {
  text-align: $center;
  width: 100%;
  background-color: $bgcolor; }

a {
  color: $greycolor; }

a:hover {
  color: #941512; }

a:visited {
  color: $greycolor; }

a {
  text-decoration: none; }

h1 {
  color: $greycolor;
  font-size: 2.5em;
  text-align: $center; }

h2 {
  font-size: 1.3em;
  color: $greycolor;
  text-align: $center; }

h3 {
  font-size: 1.8em;
  color: #941512;
  text-align: $center; }

h4 {
  font-size: 3em;
  color: #941512;
  text-align: $center; }

h5 {
	font-size:1.8em;
	 color: $greycolor;
	
}
p {
  font-size: 1.3em;
  width: 85%;
  word-spacing: 2px; }

#content {
  width: 100%;
  height: 1900px;
  background-color: #941512; }
   @media (max-width: 200px) {
	  #content {
  width: 100%;
  height: 2200px;
  background-color: #941512; } 
   }

#me {
  margin-top: 5%;
  margin-left: 10%;
  float: left; }

#aboutme {
  margin-top: 1%;
  margin-left: 9%;
  float: left;
  width: 80%;
  background-color: $bgcolor;
  height: 1800px;
  opacity: 0.9; }
  @media (max-width: 200px) {
	 #aboutme {
  margin-top: 1%;
  margin-left: 9%;
  float: left;
  width: 80%;
  background-color: $bgcolor;
  height: 2100px;
  opacity: 0.9; } 
  }
  

.title {
  margin-left: 7%;
  margin-top: 3%;
  height: 50px;
  width: 85%;
  border-bottom: 3px solid #941512; }

.title2 {
  margin-left: 13%;
  margin-top: 3%;
  height: 50px;
  width: 75%;
  border-bottom: 3px solid #941512; }

.title3 {
  height: 75px;
  width: 35%;
  border-bottom: 3px solid #941512;
  float: left;
  margin-left: 20%; }

#skills {
  float: left;
  position: absolute;
  margin-left: 17%; }

.twitterlarge {
  position: absolute;
  margin-top: 5%;
  margin-left: 47%;
  padding-right: 1%; }

.facebooklarge {
  position: absolute;
  margin-left: 52%;
  margin-top: 5%;
  padding-right: 1%; }

#pictures {
  float: left;
  width: 75%;
  height: 800px; }

#sidenav {
  position: absolute;
  margin-left: 76.5%;
  margin-top: 5%;
  width: 22%;
  height: 600px;
  background-color: #FFFFFF; }

#locations {
  margin-left: 25%;
  border-bottom: 3px solid #000000;
  width: 50%;
  height: 30px; }

#recent {
  border-bottom: 3px solid #000000;
  width: 50%;
  height: 30px; }

#form {
  position: absolute;
  margin-top: 2%;
  margin-left: 35%;
  width: 30%; }

.submit {
  text-align: $center; }

.title3 {
  margin-left: 32%;
  height: 65px;
  width: 30%;
  border-bottom: 3px solid #000000; }

.nametext {
  text-indent: 50px;
  margin-top: 1%;
  margin-left: 20%;
  color: #FFFFFF; }

@media (max-width: 1200px) {
  .nametext {
    font-size: .9em;
    text-indent: 50px;
    margin-top: 1%;
    margin-left: 20%;
    color: #ffffff; } }
@media (max-width: 1099px) {
  .nametext {
    font-size: .8em;
    margin-top: 1%;
    margin-left: 15%;
    color: #FFFFFF; } }
.skilltext {
  margin-left: 21%;
  text-indent: 50px;
  margin-top: 1%;
  color: #FFFFFF; }

@media (max-width: 1200px) {
  .skilltext {
    font-size: .9em;
    margin-left: 21%;
    text-indent: 50px;
    margin-top: 1%;
    color: #FFFFFF; } }
.factsaboutme {
  margin-top: 1%;
  margin-left: 15%;
  color: #FFFFFF; }

@media (min-width: 1100px) and (max-width: 1200px) {
  .factsaboutme {
    font-size: .9em;
    margin-top: 1%;
    margin-left: 15%;
    color: #FFFFFF; } }
@media (max-width: 1099px) {
  .factsaboutme {
    font-size: .8em;
    margin-top: 1%;
    margin-left: 15%;
    color: #FFFFFF; } }
#box {
  margin-top: 1%;
  float: left;
  width: 60%;
  background-color: $bgcolor;
  height: 770px;
  margin-left: 20%;
  opacity: 0.9; }

.socialmedia li {
  display: inline;
  padding-right: 1%;
  text-align: $center; }

.socialmedia2 {
  margin-top: 6%; }
  
  

.socialmedia2 li {
  margin-left: 5%;
  display: inline;
  padding-right: 2%; }

#picture {
  margin-top: 10%; }

body#home #navhome, body#about #navabout, body#photography #navphotography, body#websites #navwebsites, body#contact #navcontact, body#resume #navresume {
  color: #941512; }
  .media-left {
    color:$greycolor;
	font-size:1.5em;
}
.media-heading {
  width: 1000px;
  margin-top: .25%; }
  @media (max-width: 1099px) {
  .media-heading {
 width: 1000px;
  margin-top: .25%;
  font-size:1.2em; } }
 @media (max-width: 1099px) {
  .media-left {
	  font-size:1.2em; } }
.media {
	margin-top:5%;
  width: 1000px; }
  @media (max-width: 1000px) {
  .media {
	  margin-top:3%;
  width: 1000px;
  margin-left:15%;
   } }
   @media (min-width: 1001px) and (max-width: 1500px) {
	   .media {
		   font-size:.98em;
	  margin-top:3%;
  width: 1000px;
  margin-left:15%;
   } }

  #years {
	  margin-top:5%;
  }
  .alert-success {
	width:70%; 
	margin-top:1%; 
	margin-left:5%;
  }
   @media (max-width: 1000px) {
  .alert-success {
	  width:70%; 
	margin-top:1%; 
	margin-left:15%; } }

.alert-info {
	width:70%; 
	margin-left:5%; 
  }
    @media (max-width: 1000px) {
  .alert-info{
	  width:70%;  
	margin-left:15%; } }
  .connorstern{
  color: $greycolor;
  font-size: 2.5em;
  text-align: $center; }
  .profile-image {
    width:10%;
    display: block;
    margin: auto;
}
	@media (max-width: 1000px) {  
	.navigation {
		font-size:.65em;
		
	}
	}


/*# sourceMappingURL=stylesheet.css.map */
